html{
    height: 100%;
}

body { width: 960px; margin: 0 auto; }

html *
{
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  color: #E8E9FA;
  text-align: center;
}

body {background-color: #292c5c;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #444c8d;
   color: white;
   text-align: center;
  align-items: center;
  justify-content: center;
}

.ttlbx {
  background-color: #444c8d;
  margin: auto;
  margin-top: 2vh;
  padding: 2.5px;
  border-radius: 50px;
  text-align: center;
}

.qCard {
  z-index: 1;
  background-color: #444c8d;
  padding: 3px;
  margin: 0 auto;
  width: 100%;
  height: 75%;
  text-align: center;
  border-left: 5px solid  #7086bd;
  border-right: 5px solid #7086bd;
}

h1 
{
  font-size: 3.052rem;
  letter-spacing: 0.4px;
  word-spacing: 0.4px;
  margin-bottom: 1px;
}

.spaceh1
{
  margin-bottom: 25px !important;
}

h2
{
  font-size: 1.052rem;
  letter-spacing: 0.4px;
  word-spacing: 0.4px;
}

p 
{
  text-align: center;
}

.stdButn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #2b64a6;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;            
}
.stdButn:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}  

.remove {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  width: 85%;
  border-radius: 7px;
  margin-top: 10px;
  background-color: #3c4a6d;
  color: white;
  font-weight: 400;
  font-size: 16px;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;            
}
.remove:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}  

.add {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #7086bd;
  margin: auto;
  margin-top: 2vh;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 16px;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;           
}
.add:hover{
    background: rgba(145, 174, 248, 0.9);
    box-shadow: 0 6px 20px rgb(145 174 248 / 23%);
}  

.submit {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  width: 75%;
  border: none;
  background-color: #7086bd;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 16px;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;           
}
.submit:hover{
    background: rgba(145, 174, 248, 0.9);
    box-shadow: 0 6px 20px rgb(145 174 248 / 23%);
}  

.cardhldr {
  border: 2px solid #7086bd;
  border-radius: 50px;
  margin-top: 5vh;
  padding: 15px;
  padding-top: 1px;
}

.card {
  background-color: #333861;
  margin: auto;
  margin-top: 2vh;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}

input[type=text] {
  width: 45%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #3c4a6d;
  background-color: #333861;
  border-radius: 50px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  outline: none;
}

input[type=text]:focus {
  border-bottom: 5px solid #7a83ff;
}

.ansr[type=text] {
  width: 70%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0;
  background-color: #333861;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  outline: none;
}

.ansr[type=text]:focus {
  border-bottom: 5px solid #7a83ff;
}

.switch-field {
	display: flex;
  align-items: center;
  justify-content: center;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #333861;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
  color: white;
  margin: 2px;
  border-radius: 50px;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #7086bd;
	box-shadow: none;
  color: white;
}

.group {
  background-color: #333861;
  margin: auto;
  margin-top: 2vh;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  width: max-content;
}

input[type="file"] {
    display: none;
}

.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        border-radius: 50px;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
/*         border-radius: 0px 0px 50px 50px; */
        border-radius: 50px;
        transform: translateY(50%);
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.wrngAnimated {
    -webkit-animation-duration: 5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes flash {
    0% {
      text-shadow: 0px 0px 15px #FF0000;
      color: #FF0000;
    }
    100% {
      text-shadow: 0px 0px 15px rgba(255,0,0,0);
      color: white;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

/* tool tips (for info about beta stuff) */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  color: white;
  font-size: 12px;
  background-color: #613333;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -1px;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
}